matplotlib
numpy
scikit-learn
scikit-optimize>=0.9.0
scipy
docutils<0.18  # https://github.com/readthedocs/readthedocs.org/issues/8616

# TensorFlow 1.x
tensorflow>=2.7.0
# TensorFlow 2.x
tensorflow-probability>=0.10.0
# PyTorch
torch>=1.9.0
# PaddlePaddle
paddlepaddle>=2.3.0
# JAX
jax
flax
optax
